*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.produtoCard{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1976D2 !important;
    color: #ffff !important;
    width: 350px;
    height: 375px;
    border-radius: 5px;
    margin: 10% 5% 0% 5%;
}

.produto-img{
    height: 200px;
    width: 100%;

}
.produto-text{
    padding-left: 5%;
    font-size: 1.1em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.produto-footer{
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    align-items: center;
    padding: 10% 5%;
    flex-grow: 1;

}
button.comprar-button{
    width: 100%;
    background-color: orange !important;
    
}
.produto-price{
    font-size: 1.1em;
}


